<div>
    <div class="newPasswordContainer">
    <form id="newPasswordForm" method="GET" action="">  
        <div class="form-row">
            <label class="full-user" for="newPassword">Ingrese su nuevo password</label>
            <input name="newPassword" type="password" id="newPassword" />
        </div>
        <div class="form-row">
            <label class="full-user" for="newPasswordRepeat">Repita su nuevo password</label>
            <input name="newPasswordRepeat" type="password" id="newPasswordRepeat"/>
        </div>
        <div class="form-row">
            <button id="newPasswordBtn" type="button" class="resetBtn">
                Enviar
            </button>
        </div>
    </form>
    <div id="newPasswordFormMessage"></div>
</div>

<script src="/js/newPassword.js"></script>
    
</div>