<div class="resetContainer">
    <form id="resetForm" method="GET" action="">  
        <div class="form-row">
            <label class="full-user" for="email">Para restablecer su contraseña por favor ingrese su email</label>
            <input name="email" type="text" id="resetEmail" />
        </div>
        <div class="form-row">
            <button id="resetPasswordBtn" type="button" class="resetBtn">
            <i id="resetSpinner" class="fa-solid fa-spinner"></i>
            <p id="resetPasswordBtnP">Enviar</p>
        </button>
        </div>
    </form>
    <p>Recuerda su contraseña? <a href="/login">Login</a></p>
    <div id="resetFormMessage"></div>
</div>

<script src="/js/resetPassword.js"></script>